/* Box Model Hack */
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  }

/************************************************************************
/* BASE STYLES
/*************************************************************************/

html,
body {
  height:100%;
}

body {
  margin: 0;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: -.6px;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}



/*******************************v********************************************
/* INDEX.HTML PAGE LAYOUT
/****************************************************************************/

.container {
  background-image: linear-gradient( 95.2deg, rgb(110, 233, 204) 26.8%, rgb(129, 207, 244) 64% );
  /* background-image: url(../images/stripes.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto; */
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

header {
  background:white;
  width: 100vw;
  height:80px;
  text-align:center;
  z-index:1000;
}

.inside-header {
  margin-left: 14%;
  margin-right: 14%;
}

.headerlogo img{
  width: 40px;
  margin-top:20px;
  float:left;
  display:inline-block;
}

.front-page-nav {
  font-size: 20px;
  font-weight: 500;
  width: 70%;
  background-color: none;
  border-bottom: none;
}

.front-page-nav ul {
  margin-top: 30px;
  margin-right: 10%;
  float: left;
  clear: all;
}

.front-page-nav ul li {
  width: auto;
  float: left;
  margin-left: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.front-page-nav ul li a {
  color: lightgrey;
}

.front-page-nav ul li a:hover {

}

.headerbuttons {
  float:right;
  display:inline-block;
  margin-top:14px;
}

.styled {
  padding:12px 25px;
  background-color: white;
  border-radius: 25px;
  color:0052A2;
  font-family: 'Montserrat', sans-serif;
  font-size:.8rem;
  font-weight: 400;
  letter-spacing: -.2px;
  border:2px solid #0052A2;
}

.styled:hover {
  padding:12px 25px;
  background-color: #0052A2;
  border-radius: 25px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size:.8rem;
  font-weight: 400;
  letter-spacing: -.2px;
}

.styled:hover a{
  color:white;
}

.styled2 {
  padding:12px 21px;
  background-color: #0052A2;
  border-radius: 25px;
  color:white;
  font-size:.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: -.2px;
  margin-left: 20px;
  border:2px solid #0052A2;
}

.styled2 a {
  color:white;
}

.styled2:hover {
  padding:12px 21px;
  background-color: rgb(166,211,233);
  border-radius: 25px;
  color:#0052A2;
  font-size:.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: -.2px;
  margin-left: 20px;
}

.styled2:hover a {
  color:#0052A2;
}

.main-wrapper {
}

.accomplist-logo {
  width:40%;
  margin:0 auto;
  margin-bottom:30px;
}

.accomplist-logo img {
  width:100%;
  margin-top:25%;
}

.grid-container {
  width:80%;
  text-align: center;
  margin:0 auto;
}

.grid-container h6  {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.flex-grid {
  width:85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  margin:0 auto;
  margin-top:20px;
}

.flex-grid img{
  width:50%;
  margin-left: 50px;
  margin-right:50px;
}

.gallery-label {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.gallery-description {
  margin:0 auto;
  width:80%;
  height: 158px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height:1.2rem;
  margin-bottom:10px;
}

.child10 {
  flex: 1;
  padding: 0px 10px;
}

.child20 {
  flex: 1;
  padding: 0px 10px;
}

.child30 {
  flex: 1;
  padding: 0px 10px;
}

.child40 {
  flex: 1;
  padding: 0px 10px;
}

.child50 {
  flex: 1;
  padding: 0px 10px;
}

.child60 {
  flex: 1;
  padding: 0px 10px;
}

.front-page-signup {
  height:100px;
  text-align:center;
  margin:0 auto;
}

.newsletter {
  margin-top:30px;
  height:50px;
  width:596px;
  text-align:center;
  margin:0 auto;
}
  
.newsletter .content {
  max-width: 650px; 
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}

.newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 40px; 
  text-align:center;
}

.newsletter .content .form-control {
  height: 30px;
  padding:18px 10px;
  width:500px;
  border-color: #ffffff;
  border-radius:0;
  text-align:center;
}

.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
  text-align:center;
}

.newsletter .content .btn {
  min-height: 30px; 
  padding:10px 20px;
  border-radius:0;
  background: #0052A2;
  color: #fff;
  font-weight:200;
  font-size:.7rem;
  text-align:center;
}

.newsletter .content .btn:hover {
  background: #243c4f; 
  text-align:center;
}

.newsletter .content .btn a {
  color: #fff;
  text-align:center;
}

.content p {
  float:right;
  display:inline-block;
  font-size:.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.content span {
  float:right;
  display:inline-block;
  text-decoration:underline;
  margin-left:5px;
  margin-right:0px;
  font-size:.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.long-signup {
  max-width: 650px;
  margin-top:20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.copyright {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  font-size:.75rem;
  text-align:center;
}


/*******************************v********************************************
/* LOGIN.HTML PAGE LAYOUT
/****************************************************************************/

.white-box {
  background-color:white;
  width:460px;
  height:490px;
  margin:0 auto;
}

.white-box-spacer {
  height:10px;
  margin:0 auto;
  margin-bottom:15vh;
}

.accomplist-logo2 {
  text-align: center;
}

.accomplist-logo2 img {
  width:180px;
  margin-top:30px;
}

.signup-box {
  width: 460px;
  height: 420px;
  margin: auto;
  background-color: none;
  border-radius: 3px;
}

.signup-box h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

.signup-box h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size:.9rem;
  text-align: center;
}

.login-box {
  width: 460px;
  height: 420px;
  margin: auto;
  background-color: none;
  border-radius: 3px;
}

.login-box h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

.login-box h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size:.9rem;
  text-align: center;
}

form {
  width: 420px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: .8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom:5px;
  color:grey;
}

form input {
  width: 420px;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="button"] {
  width: 420px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-image: linear-gradient( 95.2deg, rgba(192,229,246,1) 26.8%, rgba(173,252,234,1) 64% );
  color: black;
  font-size: 18px;
}

/* box-shadow: 0px 2px 4px rgba(2,2,2,0.2); */


.signup-box p {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  text-align: center;
  padding-top: 20px;
  font-size: .9rem;
  line-height: 1.2rem;
}

.login-box p {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  text-align: center;
  padding-top: 20px;
  font-size: .9rem;
  line-height: 1.2rem;
}

.para-2 {
  text-align: center;
  color: black;
  font-size: .9rem;
  font-weight:300;
  margin-top: -10px;
  font-family: 'Lato', sans-serif;
}

.para-2 a {
  color: #49c1a2;
  font-weight:700;
}



/*******************************v********************************************
/* MAIN.HTML PAGE LAYOUT
/****************************************************************************/

.page-container {
  text-align: left;
}

.flex-grid2 {
  width:100%;
  height:100vh;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  margin:0 auto;
}


/* **************************** CHILD 1 CODE HERE **************************** */

.child1 {
  flex-basis: 8%;
  padding: 20px 10px;  
  background-color:rgb(38,38,38);
  text-align:center;
  min-width:110px;
  overflow:hidden;
}

.child1 img {
  width: 45px;
  margin: auto;
  display: block;
} 

.child1 ul li {
  margin-bottom:30px;
}

.child1 span a {
  color: lightgrey;
  font-size:.7rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .01rem;
  margin-bottom:30px;
} 

.child1 span a:hover {
  color: rgb(74,176,247);
  font-size:.7rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .01rem;
  margin-bottom:30px;
} 



/* **************************** CHILD 2 CODE HERE **************************** */

.child2 {
  flex-basis: 22%;
  padding: 20px 10px;
  min-width:350px;
  float:left;
  background-color: #333;
  display:inline-block;
  background-color: rgb(51,51,51);
  height:100vh;
  color:white;
  padding-left:0px;
  overflow-y: scroll;
}

.child2 img {
  width:35px;
  margin-right:10px;
  text-align:left;
}

.child2 span {
  font-family: 'Montserrat', sans-serif;
  color:lightgrey;
  text-align:left;
  margin-left:30px;
  font-size:.8rem;
  line-height:1.5rem;
  margin-bottom:0px;
}

.child2 ul li {
  font-family: 'Montserrat', sans-serif;
  color:lightgrey;
  line-height:1.5rem;
  text-align:left;
  padding-left:50px;
  font-size:.8rem;
  margin-bottom:0px;
}

.child2 a {
  font-family: 'Montserrat', sans-serif;
  color:lightgrey;
  line-height:1.5rem;
  text-align:left;
  font-size:.rem;
  margin-bottom:0px;
}

.child2 a:hover {
  font-family: 'Montserrat', sans-serif;
  color: rgb(74,176,247);
  line-height:1.5rem;
  text-align:left;
  font-size:.8rem;
  margin-bottom:0px;
}

.subnav-content {
  margin-left:30px;
} 



/* **************************** CHILD 3 CODE HERE **************************** */

.child3 {
  flex-basis: 75%;
  padding-top:30px;
  padding-left:10px;
  padding-right:10px;
  overflow:hidden;
  background-color: rgb(34,40,49);
  /* border:2px solid orange; */
}

.wrapper {

}


/* ***********=************** DASHBOARD CODE HERE **************************=***** */

.dashboard-wrapper {
  margin-top:25px;
  margin-left: 25px;
  margin-right: 25px;
  height:93vh;
  /* border:2px solid hotpink; */
}

.dashboard-wrapper:target{
  display:block !important;
}

.dashboard-wrapper h3 {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:light;
    font-size:1.7rem;
    margin-bottom:0px;
    letter-spacing: .04rem;
    display:inline;
}

.dashboard-wrapper p {
  color: white;
  font-family:'Lato', Helvetica, sans-serif;
  font-weight:300;
  font-size:.9rem;
  margin-bottom:0px;
  letter-spacing: .04rem;
  display:inline;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
  margin-top:20px;
  height:95%;
  /* border:2px solid blue; */
}

.dashboard-grid img { 
  width:100%;
  height:100%;
}

.jobssaved-app h3, .interviews-app h3, .jobsapplied-app h3, .offers-app h3 {
  font-family:'Lato', Helvetica, sans-serif;
  font-weight:900;
  font-size:300%;
  margin-bottom:0px;
  background: -webkit-linear-gradient(grey, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  display:block;
}

.jobssaved-app span, .interviews-app span, .jobsapplied-app span, .offers-app span {
  font-family: 'Lato', sans-serif;
  font-weight:400;
  font-size:90%;
  letter-spacing: .02rem;;
  margin-bottom:5px;
  color:white;
  display:block;
}

.twitterfeed-app {
  grid-column: 9 / 13;
  grid-row: 1 / 9;
  overflow-y:scroll;
  max-height:90vh;
  /* border:2px solid red; */
}

.todo-app {
  grid-column: 1 / 9;
  grid-row: 3 / 6;
  margin-bottom:0px;
  background-color:black;
  background-image: url(../images/bird.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding-top:25px;
  padding-left:25px;
  /* border:2px solid red; */
}

.latestjobs-app {
  grid-column: 1 / 5;
  grid-row: 6 / 9;
  margin-bottom:0px;
  overflow-y:scroll;
  /* border:2px solid lime; */
  padding-right:25px;
}

.calendar-app {
  grid-column: 5 / 9;
  grid-row: 6 / 9;
  margin-bottom:0px;
  overflow-y:scroll;
  /* border:2px solid yellow; */
}

.jobssaved-app {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  margin-bottom:0px;
  /* border:2px solid orchid; */
}

.jobsapplied-app {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  margin-bottom:0px;
  /* border:2px solid orchid; */
}

.interviews-app {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
  margin-bottom:0px;
  /* border:2px solid orchid; */
}

.offers-app {
  grid-column: 7 / 9;
  grid-row: 1 / 3;
  margin-bottom:0px;
  /* border:2px solid orchid; */
}

.rejected-app {
  grid-column: 8 / 9;
  grid-row: 1 / 3;
  margin-bottom:0px;
  border:2px solid orchid;
}

.dashboard-styles {
}

.dashboard-styles h3 {
  font-size: 1rem;;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  text-align: center;
}


/* **************************** TODO LIST CODE HERE **************************** */

.tasklist {
  color: white;
  padding-left:25px; 
  background-size: contain;

  min-height:300px;
}

.todo-app-header {
  margin-bottom: 20px;;
}

.todo-app-header h3 {
  font-size: 1rem;;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  text-align: center;
}

.tasklist-items ul li {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size:.9rem;
  line-height:1.4rem;
  text-shadow: black 1px 0 10px;
  margin-top:0px;
}


/* **************************** CALENDAR CODE HERE **************************** */

.calendar-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  margin-top:20px;
  font-family: 'Lato', sans-serif;
  background-color:none;
}

.calendar{
  color: #fff;
  margin: 10px auto;
  /* background: #04b6e2; */
  padding: 0px 25px 0px 0px;
  width: 100%;
  max-width: 600px;
  height: 415px;
  /* border-radius: 5px; */
  /* box-shadow: 0px 2px 6px rgba(2,2,2,0.2); */
  position: relative;
  color: white;
}

.calendar__title{
  text-align: center;
}

.calendar--day-view{
  position: absolute;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  box-shadow: 3px 12px 5px rgba(2,2,2,0.16);
  z-index: 2;
  overflow: hidden;
  transform: scale(0.9) translate(30px,30px);
  opacity: 0;
  visibility: hidden;
/*   border-radius: 5px; */
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
}

.day-view-content{
  color: #222;
  width: 100%;
  padding-top: 55px;
}

.day-highlight, .day-add-event{
  padding: 8px 10px;
  margin: 12px 15px;
  border-radius: 4px;
  background: #e7e8e8;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  font-family: "Avenir", sans-serif;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row .qtr{
  width: 40%;
}

.row .half{
  width: 100%;
}

@media (min-width: 800px){
  .row{
    flex-wrap: nowrap;
  }
  .row .half{
    width: 35%;
  }
  .row .qtr{
    width: 25%;
  }
}

.day-add-event{
  background: #04b6e2;
  color: #fff;
  padding: 16px;
  display: none;
  transform: translateY(-15px);
  opacity: 0;
}

.day-add-event[data-active="true"]{
  display: block;
  animation: popIn 250ms 1 forwards;
}

.add-event-label{
  padding: 10px 0;
  font-size: 18px;
  font-family: 'Avenir', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}

.add-event-edit{
  display: block;
  margin: 4px 0;
  max-width: 70%;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  font-weight: 800;
  color: #fff;

}

.add-event-edit--long{
  max-width: 90%;
}

input.add-event-edit{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  font: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}

.add-event-edit--error, input.add-event-edit--error{
  border-color: #ff5151;
  animation: shake 300ms 1 forwards;
}

@keyframes shake {
  20%, 60%{
    transform: translateX(4px);
  }
  40%, 80%{
    transform: translateX(-4px);
  }
}

input.add-event-edit::-webkit-input-placeholder {
   color: #fff;
}

input.add-event-edit:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

input.add-event-edit::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

input.add-event-edit:-ms-input-placeholder {  
   color: #fff;  
}

.event-btn{
  padding: 3px 8px;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: 65px;
  margin: px 0;
  text-align: center;
}

.event-btn--save{
  border-color: #fff;
   background: #74c500;
  color: #fff;
  border-color: transparent;
}

.event-btn--save:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}

.event-btn--cancel{
  background: #ff5151;
  color: #fff;
  border-color: transparent;
}

.event-btn--cancel:hover{
  box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
}

/* .add-event-btn:hover, .add.event-btn:focus{
  background: #00258e;
  box-shadow: 0px -1px 2px rgba(3,2,2,0.2);
} */

.day-highlight .day-events-link{
  border-bottom: 2px solid #222;
  padding: 0;
  cursor: pointer;
}

#add-event{
  color: #04b6e2;
  border-color: #04b6e2;
}

.day-view-exit{
  position: absolute;
  top: 24px;
  line-height: 1em;
  left: 22px;
  font-size: 22px;
  color: #252525;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  cursor: pointer;
  opacity: 0;
  animation: popIn 200ms 1 forwards;
  text-transform: uppercase;
  color: white;
}

.day-view-date{
  position: absolute;
  top: 19px;
  right: 22px;
  text-align: right;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  font-weight: 800;
  border-bottom: 2px solid #222;
  cursor: pointer;
  color: white;
}

.day-inspiration-quote{
  position: absolute;
/*   top: 90px; */
  margin-top: -20px;
  left: 10%;
  width: 80%;
  height: calc(100% - 110px);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: -1px;
  color: #ddd;
  line-height: 1.3em;
  font-family: 'Avenir', sans-serif;
  z-index: -1;
}

.day-event-list-ul{
  list-style: none;
  margin: auto;
  width: 95%;
  padding: 0;
  max-height: 300px;
  overflow: auto;
}

.day-event-list-ul li {
  padding: 10px;
  margin: 10px 0;
/*   box-shadow: 0px 1px 1px  rgba(2,2,2,0.5); */
  position: relative;
}

.event-dates small{
  font-size: 0.65em;
  color: #444;
}

.event-dates{
  font-weight: 800;
  font-family: 'Avenir', sans-serif;
  color: #04b6e2;
  font-size: 18px;
  text-transform: lowercase;
/*   position: relative; */
}

.event-delete{
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 12px;
  color: #f25656;
  cursor: pointer;
}

.event-name{
  font-size: 19px;
  font-family: 'Avenir', sans-serif;
  color: lime;
  padding:10px;
  background: #f7f7f7;
  margin: 2px 0;
  display: block;
  text-transform: initial;
}

.calendar--day-view-active{
  animation: popIn 200ms 1 forwards;
  visibility: visible;
  display: flex;
  transition: visibility 0ms;
  background-color: rgb(34,40,49);
}

.calendar--view{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}

.cview__month{
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  font-family: 'Avenir', sans-serif;
  padding-bottom: 20px;
  color: #222;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
}

.cview__month-last,.cview__month-next,.cview__month-current{
  width: 33.33333%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.cview__month-last:hover,.cview__month-next:hover{
  color: #fff;
}

.cview__month-current{
  font-size: 22px;
  cursor: default;
  animation: popIn 200ms 1 forwards;
  transform: translateY(20px);
  opacity: 0;
  position: relative;
}

.cview__month-reset{
  animation: none;
}

.cview__month-activate{
  animation: popIn 100ms 1 forwards;
}

.cview--spacer, .cview__header, .cview--date{
  width: 14.28571428571429%;
  max-width: 14.28571428571429%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  overflow: hidden;
  text-overflow: clip;
  font-size: 14px;
  font-weight: 900;
}

.cview--date{
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.has-events::after{
  border-radius:100%;
  animation: popIn 200ms 1 forwards;
  background: rgba(255,255,255,0.95);
  transform: scale(0);
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 12px;
  
}

.cview--date:hover::before{
  background: rgba(255,255,255,0.2);
}

.cview--date.today{
  /* color: #111;   */
  color:white;
}

.cview--date.today::before{
  animation: popIn 200ms 1 forwards;
  /* background: rgba(255,255,255,0.2); */
  background: rgba(245,245,245,0.2);
  transform: scale(0);
}

@keyframes popIn{

  100%{
    transform: scale(1);
    opacity: 1;
  }

}

.cview--date::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform: scale(0.8);
  z-index: 0;
}

.footer2 {
  width: 100%;
  bottom: 0px;
  left: 0;
  position: absolute;
  font-size: 14px;
  text-align: center;
}

.footer2__link{
  cursor: pointer;
  padding: 2px 5px;
  border-bottom: 1px solid #fff;
}


/* **************************** TWITTERFEED CODE HERE **************************** */

.twitter-timeline-widget {
  padding-right:25px;
  margin-top:20px;
}


/* **************************** LATEST JOB POSTS CODE HERE **************************** */

.tabinator {
  margin:0 auto;
  margin-top:20px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height:150%;
}

.latest-job-posts{
  height:10%;
	margin:0 auto;	
  clear:both;
}

.tabinator input {
  display: none;
}

.tabinator label {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 15px;
  color: #ccc;
  margin-bottom: -1px;
  margin-left: -1px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:.6rem;
  background-color:rgb(50,59,69);
  border-radius: 5px 5px 0 0;
}

.tabinator label:before {
  content:'';
  display:block;
  width:100%;
  height:15px;
  background-color:#fff;
  position:absolute;
  bottom:-11px;
  left:0;
  z-index:10;  
}

.tabinator label:hover {
  color: #888;
  cursor: pointer;
}

.tabinator input:checked + label {
  position: relative;
  color: #000;
  background: #fff;
  border: 1px solid ;
  border-radius: 5px 5px 0 0;
}

.tabinator input:checked + label:after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  /* box-shadow: 0 0 15px black;  */
}

#content1, #content2, #content3, #content4 {
  display: none;
  border-top: 1px solid #bbb;
  padding: 15px;
  background-color:white;
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px rgb(102,190,236);
border-radius: 10px;
overflow-y:scroll;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: rgb(50,134,194); 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  
}

::-webkit-scrollbar-thumb:hover {
background: #rgb(50,134,194);
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  box-shadow: 0 0 15px #939393;
}

#content1 span {
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
  font-size:.8rem;
  line-height:30px;
  color:black;
  clear:both;
}

#content1 p {
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:200;
  font-size:.7rem;
  letter-spacing:0px;
  line-height:.9rem;
  color:black;
}

#content2 span {
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
  font-size:.8rem;
  line-height:30px;
  color:black;
  clear:both;
}

#content2 p {
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:200;
  font-size:.7rem;
  letter-spacing:0px;
  line-height:.9rem;
  color:black;
}

#content3 span {
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
  font-size:.8rem;
  line-height:30px;
  color:black;
  clear:both;
}

#content3 p {
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:200;
  font-size:.7rem;
  letter-spacing:0px;
  line-height:.9rem;
  color:black;
}

#content4 span {
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
  font-size:.8rem;
  line-height:30px;
  color:black;
  clear:both;
}

#content4 p {
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:200;
  font-size:.7rem;
  letter-spacing:0px;
  line-height:.9rem;
  color:black;
}


/* ***********=************** SETTINGS CODE HERE **************************=***** */

.settings {
  margin-top:25px;
}

.settings:target{
  display:block !important;
}

.settings-text {
  margin-right:15px;
  height:95vh;
}

.settings h3 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:light;
  font-size:1.7rem;
  margin-bottom:5px;
  letter-spacing: .04rem;
  color:rgba(255, 255, 255, 0.463);
}

.settings h4 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:1.2rem;
  margin-top:30px;
  margin-bottom:5px;
  letter-spacing: .04rem;
  color:rgba(255, 255, 255, 0.463);
}

.settings p {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size:.9rem;
  margin-bottom:20px;
  letter-spacing: .02rem;
  color:white;
}

/* ***********=************** MYPROFILE CODE HERE **************************=***** */

.profile {
  border:2px solid purple;
  margin-top:25px;
}

.profile h3 {
  color:rgba(255, 255, 255, 0.463);
}

.profile:target{
  display:block !important;
}

.profile-text {
  margin-right:15px;
  height:95vh;
}

/* ***********=************** MYDOCUMENTS CODE HERE **************************=***** */

.documents {
  margin-top:25px;
}

.documents:target{
  display:block !important;
}

.documents h3 {
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:light;
  font-size:1.7rem;
  margin-bottom:20px;
  letter-spacing: .04rem;
}

.resume-image {
  float:left;
  margin:0 auto;
  margin-bottom:30px;
  display:inline-block;
  width:40%;
  /* border:2px solid lime; */
  margin-right:30px;
}

.resume-image img {
  width:100%;
  /* border:2px solid blue; */
  box-shadow: 10px 5px 5px black; 

}

.resume-checklist {
  width:50%;
  float:left;
  display:inline-block;
}

.resume-checklist h3 {
  color:white;
  font-size:1.4rem;
}

.resume-checklist h4 {
  color:white;
  font-size:1.2rem;

}

.resume-checklist ul li{
  color:white;
}


/* ***********=************** MYSEARCHES CODE HERE **************************=***** */

.searches {
  border:2px solid plum;
  margin-top:25px;
}

.searches:target{
  display:block !important;
}


/* ***********=************** MYNOTES CODE HERE **************************=***** */

.notes {
  border:2px solid orange;
  margin-top:25px;
}

.notes:target{
  display:block !important;
}


/* ***********=************** CHECKLIST CODE HERE **************************=***** */

.checklist {
  border:2px solid orange;
  margin-top:25px;
}

.checklist:target{
  display:block !important;
}

.professional-checklist {
  color:white;

}

.professional-checklist h4 {
  color:white;
}

.professional-checklist ul li {
  color:white;
}


/* ***********=************** AMAZON CODE HERE **************************=***** */

.amazon {
  /* border:2px solid red; */
  margin-top:25px;
}

.amazon:target{
  display:block !important;
}

.amazon-wrapper{
  margin-left: 25px;
  margin-right:25px;
  height:95vh;
  overflow-y:scroll;
}

.company-name {
  margin-top:10px;
}

.company-name h2 {
  color: rgb(74,176,247);
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size:30px;
}

.contacts {
  margin-top:10px;
  margin-bottom:-10px;
}

.child-a {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(50,134,194);
  height:70px;
}

.child-a:hover {
  flex: 1;
  padding: 10px 10px;
  background-color:#0052A2;
  height:70px;
}

.child-b {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(67,170,235);
  height:70px;
}

.child-b:hover {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(50,134,194);
  height:70px;
}

.child-c {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(102,190,236);
  height:70px;
}

.child-c:hover {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(67,170,235);
  height:70px;
}

.child-d {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(166,211,233);
  height:70px;
}

.child-d:hover {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(102,190,236);
  height:70px;
}

.child-e {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(226,226,226);
  height:70px;
}

.child-e:hover {
  flex: 1;
  padding: 20px 10px;
  background-color:rgb(166,211,233);
  height:70px;
}

.child-f {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(222,166,149);
  height:70px;
}

.child-f:hover {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(226,226,226);
  height:70px;
}

.child-g {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(218,110,88);
  height:70px;
}

.child-g:hover {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(222,166,149);
  height:70px;
}

.child-h {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(222,76,57);
  height:70px;
}

.child-h:hover {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(218,110,88);
  height:70px;
}

.child-i {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(193,56,45);
  height:70px;
}

.child-i:hover {
  flex: 1;
  padding: 10px 10px;
  background-color:rgb(222,76,57);
  height:70px;
}

.amazon-styles {
  margin-right:15px;
  height:95vh;
}

.contacts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin:0 auto;
  margin-top:20px;
}

.contacts-container img {
  width:45px;
  border-radius: 50%;
  float:left;
  margin-right:10px;
  margin-left:5px;
  margin-bottom:10px;
}

.amazon-styles span {
  font-family: 'Montserrat', sans-serif;
  font-weight:800;
  font-size:1.2rem;
  line-height:1rem;
  color:white;
  float:left;
  display:inline-block;
}

.amazon-styles p {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:.7rem;
  margin-bottom:10px;
  line-height:.8rem;
  color:white;
  display:block;
}

.contacts h4 {
  color:white;
}


/* ************************* NETWORKING CODE HERE *************************** */

.network {
  border:2px solid orange;
  margin-top:25px;
}


.network:target {
  display:block !important;
}

.network-wrapper {
height:100%;
}


/* **************************** INTERVIEW PREP CODE HERE **************************** */

.interview-wrapper{
  margin-top:15px;
  margin-left: 25px;
  margin-right:25px;
  height:95vh;
  overflow-y:scroll;
}

.interview-wrapper:target{
  display:block !important;
}

.interview-questions {

}

.interview-questions h3 {
  /* color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size:26px;
  margin-bottom:20px;   */
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:light;
  font-size:1.7rem;
  margin-bottom:20px;
  letter-spacing: .04rem;
}

.interview-questions-text {
  margin-right:15px;
  height:95vh;
}

.interview-questions-text h4 {
  /* color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size:20px; */
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: light;
  font-size:1.2rem;
}

.interview-questions-text span {
  font-family: 'Montserrat', sans-serif;
  font-weight:800;
  font-size:1.2rem;
  line-height:1rem;
  color:white;
  float:left;
  display:inline-block;
}

.interview-questions-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:.7rem;
  margin-bottom:10px;
  line-height:.8rem;
  color:white;
  display:block;
}

.interview-questions-text a {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:.9rem;
  margin-bottom:10px;
  line-height:1.2rem;
  color:white;
}

/* ********************* INTERVIEW ANSWER ACCORDION CODE HERE ********************* */

.accordion {
  width: 100%;
  margin: 0px auto;
  color:white;
  background-color: none;
}

.accordion .acc-container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: .9rem;
  color:white;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight:600;
  padding-right:50px;
}

.accordion .label::before {
  content: '+';
  color:white;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 2rem;
  transform: translateY(-50%);
  color: rgb(50,134,194)
}

.accordion .content {
  position: relative;
  background: none;
  height: 0;
  font-size: .8rem;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  font-family: 'Lato', sans-serif;
  line-height:1.1rem;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid rgb(50,134,194);
}

.accordion .acc-container.active .content {
  height: 150px;
}

.accordion .acc-container.active .label::before {
  content: '—';
  font-size: 1.4rem;
  font-weight:bold;
  color: rgb(50,134,194)
}

.resources ul li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size:.9rem;
  line-height: 1.2rem;
  color:white;
}

.resource-notes {
  clear:both;
  display:block;
  margin-top:40px;
}

/* ************************* JOB POSITIONS LIST CODE HERE ************************ */


.wrapper {

}

.open-positions-wrapper p {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:.7rem;
  line-height:.8rem;
  color: black;
  float:left;
  display:inline-block;
}


/* **************************** CHILD 4 CODE HERE **************************** */

/* .child4 {
  flex-basis: 25%;
  padding: 20px 10px;
  min-width:320px;
  width: 20%;
  height:100vh;
  background-color:rgb(245,245,245);
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% ); 
  display:inline-block;
  float: right;
  border-left: 1px solid black;
  overflow-y:scroll;
  padding-left:25px;
  padding-right:25px;
} */








/************************************************************************
/* RESPONSIVE WEB STYLES
/*************************************************************************/

@media (min-width:1715px) and (max-width:2483px) {

  .flex-grid img{
    width:50%;
    margin-left:100px;
    margin-right:100px;
  }

}



@media (min-width:1390px) and (max-width:1483px) {

  .flex-grid img{
    width:50%;
    margin-left: 50px;
    margin-right:50px;
  }

  .interview-wrapper{
    margin-left: 25px;
    margin-right:25px;
    margin-top:30px;
    height:95vh;
    overflow-y:scroll;
  }
  
  .interview-wrapper:target{
    display:block !important;
  }

  .contacts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin:0 auto;
    margin-top:20px;
  }

  .contacts-container img {
    width:45px;
    border-radius: 50%;
    float:left;
    margin-right:10px;
    margin-left:5px;
    margin-bottom:10px;
  }
  
  .contacts-container span {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:.9rem;
    margin-right: 20px;
    margin-bottom:5px;
    color:white;
    float:left;
    width:400px;
    display:inline-block;
  }
  
  .contacts-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:.7rem;
    color: white;
    float:left;
    width:400px;
    display:inline-block;
  }

  .child-a, .child-a:hover, .child-b, .child-b:hover, .child-c, .child-c:hover, .child-d, .child-d:hover, .child-e, .child-e:hover, .child-f, .child-f:hover, .child-g, .child-g:hover, .child-h, .child-h:hover, .child-i, .child-i:hover  {
    height:70px;
  }
}


/************************************************************************
/* RESPONSIVE WEB STYLES
/*************************************************************************/

@media (min-width:1299px) and (max-width:1569px) {

  .interview-wrapper{
    margin-left: 25px;
    margin-right:25px;
    margin-top:30px;
    height:95vh;
    overflow-y:scroll;
  }
  
  .interview-wrapper:target{
    display:block !important;
  }

  .contacts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin:0 auto;
    margin-top:20px;
  }

  .contacts-container img {
    width:45px;
    border-radius: 50%;
    float:left;
    margin-right:10px;
    margin-left:5px;
    margin-bottom:10px;
  }
  
  .contacts-container span {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:.9rem;
    margin-right: 20px;
    margin-bottom:5px;
    color:white;
    float:left;
    width:310px;
    display:inline-block;
  }
  
  .contacts-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:.7rem;
    color: white;
    width:310px;
    float:left;
    display:inline-block;
  }

  .child-a, .child-a:hover, .child-b, .child-b:hover, .child-c, .child-c:hover, .child-d, .child-d:hover, .child-e, .child-e:hover, .child-f, .child-f:hover, .child-g, .child-g:hover, .child-h, .child-h:hover, .child-i, .child-i:hover  {
    height:70px;
  }
}


/************************************************************************
/* RESPONSIVE WEB STYLES
/*************************************************************************/

@media (min-width:1100px) and (max-width:1298px) {

  .interview-wrapper{
    margin-left: 25px;
    margin-right:25px;
    margin-top:30px;
    height:95vh;
    overflow-y:scroll;
  }
  
  .interview-wrapper:target{
    display:block !important;
  }

  .contacts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin:0 auto;
    margin-top:20px;
  }

  .contacts-container img {
    width:45px;
    border-radius: 50%;
    float:left;
    margin-right:10px;
    margin-left:5px;
    margin-bottom:10px;
  }
  
  .contacts-container span {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:.9rem;
    margin-right: 20px;
    margin-bottom:5px;
    color:white;
    float:left;
    width:210px;
    display:inline-block;
  }
  
  .contacts-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:.7rem;
    color: white;
    width:250px;
    float:left;
    display:inline-block;
  }

}


/******************************************
/* RESPONSIVE WEB STYLES
/*******************************************/

@media (min-width:1184px) and (max-width:1219px) {

  .child3 {
    flex-basis: 75%;
    padding: 20px 10px;
  }
  .child4 {
    display:none;
  }

  
.contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin:0 auto;
  margin-top:20px;
}

.contacts-container img {
  width:45px;
  border-radius: 50%;
  float:left;
  margin-right:10px;
  margin-left:5px;
  margin-bottom:10px;
}

.contacts-container span {
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size:.9rem;
  margin-bottom:5px;
  color:white;
  float:left;
  width:200px;
  display:inline-block;
}

.contacts-container p {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:.7rem;
  color: white;
  float:left;
  width:200px;
  display:inline-block;
}

.child-a, .child-a:hover, .child-b, .child-b:hover, .child-c, .child-c:hover, .child-d, .child-d:hover, .child-e, .child-e:hover, .child-f, .child-f:hover, .child-g, .child-g:hover, .child-h, .child-h:hover, .child-i, .child-i:hover  {
  height:85px;
}

}

/************************************************************************
/* RESPONSIVE WEB STYLES
/*************************************************************************/

@media (min-width:979px) and (max-width:1183px) {

  .child3 {
    flex-basis: 75%;
    padding: 20px 10px;
  }
  .child4 {
    display:none;
  }

  .interview-wrapper{
    margin-left: 25px;
    margin-right:25px;
    margin-top:30px;
    height:95vh;
    overflow-y:scroll;
  }
  
  .interview-wrapper:target{
    display:block !important;
  }

  .contacts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin:0 auto;
    margin-top:20px;
  }

  .contacts-container img {
    width:45px;
    border-radius: 50%;
    float:left;
    margin-right:10px;
    margin-left:5px;
    margin-bottom:10px;
  }
  
  .contacts-container span {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:.9rem;
    margin-right: 20px;
    margin-bottom:5px;
    color:white;
    float:left;
    width:310px;
    display:inline-block;
  }
  
  .contacts-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:.7rem;
    color: white;
    width:250px;
    float:left;
    display:inline-block;
  }

  .child-a, .child-a:hover, .child-b, .child-b:hover, .child-c, .child-c:hover, .child-d, .child-d:hover, .child-e, .child-e:hover, .child-f, .child-f:hover, .child-g, .child-g:hover, .child-h, .child-h:hover, .child-i, .child-i:hover  {
    height:70px;
  }

}

/************************************************************************
/* RESPONSIVE WEB STYLES
/*************************************************************************/

@media (min-width:876px) and (max-width:978px) {

  .child3 {
    flex-basis: 75%;
    padding: 20px 10px;
  }
  .child4 {
    display:none;
  }

  .interview-wrapper{
    margin-left: 25px;
    margin-right:25px;
    margin-top:30px;
    height:95vh;
    overflow-y:scroll;
  }
  
  .interview-wrapper:target{
    display:block !important;
  }

  .contacts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin:0 auto;
    margin-top:20px;
  }

  .contacts-container img {
    width:45px;
    border-radius: 50%;
    float:left;
    margin-right:10px;
    margin-left:5px;
    margin-bottom:10px;
  }
  
  .contacts-container span {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:.9rem;
    margin-right: 20px;
    margin-bottom:5px;
    color:white;
    float:left;
    width:auto;
    display:inline-block;
  }
  
  .contacts-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:.7rem;
    color: white;
    width:auto;
    float:left;
    display:inline-block;
  }

  .child-a, .child-a:hover, .child-b, .child-b:hover, .child-c, .child-c:hover, .child-d, .child-d:hover, .child-e, .child-e:hover, .child-f, .child-f:hover, .child-g, .child-g:hover, .child-h, .child-h:hover, .child-i, .child-i:hover  {
    height:70px;
  }

}